.form {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  /* justify-content: space-between; */
}
.form > button {
  padding: 5px 20px 5px 20px;
  width: 100px;
  border-radius: 15px;
  background-color: rgb(175, 53, 12);
  margin-top: 10px;
  font-weight: bold;
  color: white;
}
